section.certificates
  .container.certificates__container
    .certificates__block.horizontal-card
      .horizontal-card__image-container
        img.horizontal-card__image(src="#", alt="Изображение секции Сертификаты")
      .certificates__content.horizontal-card__content
        h3.certificates__header.horizontal-card__header СЕРТИФИКАТЫ
        .certificates__slider.
          
          Slider
          
    .certificates__stages.stages
      ul.stages__list.perfect-square
        li.perfect-square__item
          .perfect-square__image-container
            img.perfect-square__image(src="#", alt="Изображение этапа")
          span.perfect-square__text ЗАКУПАЕМ ИСКЛЮЧИТЕЛЬНО НОВОЕ И ОРИГИНАЛЬНОЕ ОБОРУДОВАНИЕ