section.consultation
  .container.consultation-container
    .consultation__block.horizontal-card
      .consultation__image-container.horizontal-card__image-container
        img.horizontal-card__image(src="#", alt="Изображение секции Консультация")
      .consultation__content.horizontal-card__content
        h3.consultation__header.horizontal-card__header ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        form.consultation__form.form(action="#")
          .form__input-wrapper
            input.form__input(type="text", placeholder="ВАШ EMAIL")
          .form__button-wrapper
            img.form__button-icons(src="#", alt="Иконка email")
          .form__button-container
            fieldset.form__checkbox
              div
                input#consultation(type="checkbox", name="consultation", checked)
                label(for="consultation") СОГЛАШАЮСЬ С ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ
            button.form__button(type="submit") НАПИСАТЬ
    .consultation__partners.partners
      ul.partners__list
        li.partners__item
          .partners__image-wrapper
            img.partners__image(src="#", alt="Логотип партнера")
          a.partners__link(href="#")
        li.partners__item
          .partners__image-wrapper
            img.partners__image(src="#", alt="Логотип партнера")
          a.partners__link(href="#")
        li.partners__item
          .partners__image-wrapper
            img.partners__image(src="#", alt="Логотип партнера")
          a.partners__link(href="#")
        li.partners__item
          .partners__image-wrapper
            img.partners__image(src="#", alt="Логотип партнера")
          a.partners__link(href="#")
        li.partners__item
          .partners__image-wrapper
            img.partners__image(src="#", alt="Логотип партнера")
          a.partners__link(href="#")
        li.partners__item
          .partners__image-wrapper
            img.partners__image(src="#", alt="Логотип партнера")
          a.partners__link(href="#")