section.faq
  .container.faq__container
    .faq__block.horizontal-card
      .faq__image-container.horizontal-card__image-container
        img.horizontal-card__image(src="#", alt="Изображение секции Часто спрашиваемые вопросы")
      .faq__content.horizontal-card__content
        h3.faq__header.horizontal-card__header ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
        .faq__accordion
          ul.faq__accordion_list.accordion__list
            li.accordion__item
              .accordion__content
                h3.accordion__text.
                  
                  ПРЕДОСТАВЛЯЕТЕ ГАРАНТИЮ НА ПОСТАВЛЯЕМОЕ ВАМИ ОБОРУДОВАНИЕ?
                  
                button.accordion__button
                  img.accordion__image(src="#", alt="Иконка стрелка вниз")
                  span.accordion__button-text Развернуть ответ
            li.accordion__item
              .accordion__content
                h3.accordion__text.
                  
                  ПРЕДОСТАВЛЯЕТЕ ГАРАНТИЮ НА ПОСТАВЛЯЕМОЕ ВАМИ ОБОРУДОВАНИЕ?
                  
                button.accordion__button
                  img.accordion__image(src="#", alt="Иконка стрелка вниз")
                  span.accordion__button-text Развернуть ответ
            li.accordion__item
              .accordion__content
                h3.accordion__text.
                  
                  ПРЕДОСТАВЛЯЕТЕ ГАРАНТИЮ НА ПОСТАВЛЯЕМОЕ ВАМИ ОБОРУДОВАНИЕ?
                  
                button.accordion__button
                  img.accordion__image(src="#", alt="Иконка стрелка вниз")
                  span.accordion__button-text Развернуть ответ
    .faq__actions.actions
      ul.actions__list.perfect-square
        li.perfect-square__item
          .perfect-square__image-container
            img.perfect-square__image(src="#", alt="Изображение действия")
          span.perfect-square__text ОПРЕДЕЛИТЬ АРТИКУЛ И РАЗМЕСТИТЬ ЗАКАЗ НА САЙТЕ