section.hero
  .container.hero__container
    .hero__wrapper
      .hero__wrapper-upper
        .hero__image-wrapper
          img.hero__image(src="#", alt="Изображение главного экрана")
        .hero__content.content
          .content__text
            h1.content__header
              span.content__header_line1 ПРОДАЁМ
              span.content__header_line2 ПРОМЫШЛЕННОЕ
              span.content__header_line2 ОБОРУДОВАНИЕ
            h2.content__subtitle
              span.content__subtitle__line1 МИРОВЫХ БРЕНДОВ
              span.content__subtitle__line1 НА ОСНОВЕ ЛАБОРАТОРИИ №1
          .content__navigation.navigation
            form.navigation__form.form(action="#")
              .form__input-wrapper
                input.form__input(type="text", placeholder="Искать оборудование по артикулу")
              .form__button-wrapper
                button.form__button(type="submit")
                  img.form__button-icons(src="#", alt="Иконка поиска")
                  span.form__button-text Искать
            .navigation__low-menu.low-menu
              ul.low-menu__pages.pages
                li.pages__item
                  a.pages__link(href="#") О НАС
                li.pages__item
                  a.pages__link(href="#") УСЛОВИЯ
                li.pages__item
                  a.pages__link(href="#") КАТАЛОГ
              .low-menu__buttons
                a.low-menu__button(href="#") НАПИСАТЬ
                a.low-menu__button(href="#") ПОЗВОНИТЬ
      .hero__wrapper-low.equipment
        ul.equipment__list.perfect-square
          li.perfect-square__item
            .perfect-square__image-container
              img.perfect-square__image(src="#", alt="Изображение оборудования")
            span.perfect-square__text Частотные преобразователи
            a.perfect-square__link(href="#") Частотные преобразователи
          li.perfect-square__item
            .perfect-square__image-container
              img.perfect-square__image(src="#", alt="Изображение оборудования")
            span.perfect-square__text Сервомоторы и сервоприводы
            a.perfect-square__link(href="#") Сервомоторы и сервоприводы
          li.perfect-square__item
            .perfect-square__image-container
              img.perfect-square__image(src="#", alt="Изображение оборудования")
            span.perfect-square__text Контроллеры
            a.perfect-square__link(href="#") Контроллеры
          li.perfect-square__item
            .perfect-square__image-container
              img.perfect-square__image(src="#", alt="Изображение оборудования")
            span.perfect-square__text Блоки питания
            a.perfect-square__link(href="#") Блоки питания
          li.perfect-square__item
            .perfect-square__image-container
              img.perfect-square__image(src="#", alt="Изображение оборудования")
            span.perfect-square__text Устройства плавного пуска
            a.perfect-square__link(href="#") Устройства плавного пуска
          li.perfect-square__item
            .perfect-square__image-container
              img.perfect-square__image(src="#", alt="Изображение оборудования")
            span.perfect-square__text Промышленные компьютеры
            a.perfect-square__link(href="#") Промышленные компьютеры