section.reviews
  .container.reviews__container
    .reviews__block.horizontal-card
      .horizontal-card__image-container
        img.horizontal-card__image(src="#", alt="Изображение секции Сертификаты")
      .reviews__content.horizontal-card__content
        h3.reviews__header.horizontal-card__header СЕРТИФИКАТЫ
        .reviews__slider.
          
          Slider
          