footer.footer
  .container.footer__container
    .footer__logo-container
      img.footer__logo(src="#", alt="Логотип Инженерной компании 555")
    ul.footer__social.social
      li.social__item
        a.social__link(href="/")
          img.social__icon(src="/", alt="Иконка YouTube")
      li.social__item
        a.social__link(href="/")
          img.social__icon(src="/", alt="Иконка Telegram")
      li.social__item
        a.social__link(href="/")
          img.social__icon(src="/", alt="Иконка ВКонтакте")
    ul.footer__menu.footer-menu
      li.footer-menu__item.footer-menu__header-item
        span.footer-menu__header КОМПАНИЯ
        ul.footer-menu__nested-list
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") КАТАЛОГ
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") О НАС
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") УСЛОВИЯ
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") КОНТАКТЫ
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") ВЕБИНАРЫ
      li.footer-menu__item.footer-menu__header-item
        span.footer-menu__header МЕДИА
        ul.footer-menu__nested-list
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") НОВОСТИ
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") МЫ В ПРЕССЕ
      li.footer-menu__item.footer-menu__header-item
        span.footer-menu__header НАВИГАЦИЯ
        ul.footer-menu__nested-list
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") ЛИЧНЫЙ КАБИНЕТ
          li.footer-menu__nested-item
            a.footer-menu__nested-link(href="/") КАРТА САЙТА
      li.footer-menu__item.footer-menu__header-item
        span.footer-menu__header ТЕЛЕФОНЫ
        ul.footer-menu__nested-list
          li.footer-menu__nested-item
            span.footer-menu__subtitle РОССИЯ
            a.footer-menu__nested-link(href="tel:891112345678") +7 (911) 123 456 78
          li.footer-menu__nested-item
            span.footer-menu__subtitle РОССИЯ
            a.footer-menu__nested-link(href="tel:891112345678") +7 (911) 123 456 78
          li.footer-menu__nested-item
            span.footer-menu__subtitle РОССИЯ
            a.footer-menu__nested-link(href="tel:891112345678") +7 (911) 123 456 78
          li.footer-menu__nested-item
            span.footer-menu__subtitle EMAIL
            a.footer-menu__nested-link(href="mailto:sale@lalala.lol.com") sale@lalala.lol.com
    ul.footer__additional-list.additional-list
      li.additional-list__item
        a.additional-list__link(href="/") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
      li.additional-list__item
        span.additional-list__text ДИЗАЙН И РАЗРАБОТКА: 
        a.additional-list__link(href="/") ANDREEVA AGENCY
    ul.footer__copywrite
      li.footer__copywrite-info @ ООО "ТОРГОВЫЙ ДОМ 555", 2023
      li.footer__copywrite-offer Вся приведенная на сайте информация носит исключительно ознакомительный характер и не является публичной офертой.